.contact-viewport {
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  height: 75vh;
  width: 65vw;
  background-color: red;
}
