.hidden {
  visibility: hidden;
  opacity: 0;
}

.contact-viewport {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  transition: all 0.5s;
}

.contact {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  max-width: 60vw;
  background-color: #fff;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  transition: all 0.5s;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11rem 13rem 15.7rem 14.8rem; //110px 130px 157px 148px

  &__img {
    height: 42rem;
    width: 31rem;
  }

  &__form {
    height: 42rem;
    width: 40rem;
  }
}

.form {
  &__title {
    font-size: 2.2rem;
    margin-bottom: 3.6rem;
  }

  &__name {
    height: 5rem;
    border-radius: 2.5rem;
    margin-bottom: 1rem;
    background-color: #e6e6e6;
  }

  &__contact {
    height: 5rem;
    border-radius: 2.5rem;
    margin-bottom: 1rem;
    background-color: #e6e6e6;
  }

  &__message {
    height: 15rem;
    border-radius: 2.5rem;
    background-color: #e6e6e6;
    margin-bottom: 3rem;
  }

  &__btn {
    height: 5rem;
    font-size: 1.5rem;
    border-radius: 2.5rem;
    background-color: #c17444;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.input {
  height: inherit;
  width: 100%;
  padding: 0 30px 0 50px;
  background-color: #e6e6e6;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  font-family: inherit;
  line-height: 1.5;
  color: #666;
  outline: none;
  border: none;

  &__message {
    padding-top: 13px;
  }
}

.btn {
  position: fixed;
  top: 1rem;
  right: 8rem;
  z-index: 1000;

  text-decoration: none;
  background-color: #c17444;

  padding: 2rem 4rem;
  border-radius: 20rem;
  cursor: pointer;

  transition: all 0.3s;

  &-text {
    color: black;
    font-size: 1.75rem;
    font-weight: 800;
  }

  &:hover {
    transform: scale(110%) rotate(-2deg);
  }
}
