@font-face {
  font-family: "fenwick";
  src: url("../fonts/Fenwick.ttf");
}

.header {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(../images/header-background.jpg);
  background-position: 50% 85%;
  background-size: cover;
  background-attachment: fixed;

  &__container {
    transform: translateX(-2rem);
    color: #fff;

    &--title {
      text-transform: uppercase;
      text-align: center;
      font-size: 12rem;
      font-weight: 600;
      display: block;
      font-family: "fenwick";
    }

    &--text {
      font-size: 7rem;
      font-weight: 400;
    }
  }
}

.realistic-marker-highlight {
  position: relative;
}

.realistic-marker-highlight:before {
  content: "";
  background-color: rgba(27, 53, 28, 0.7);
  //rgb(43, 82, 43);
  width: 106%;
  height: 1.2em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -3.5rem;
  top: -0em;
  padding: 0 0.25em;
}
/*.half-circle {
  width: 15rem;
  height: 7.5rem;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border-bottom-left-radius: 7.5rem;
  border-bottom-right-radius: 7.5rem;
  background: #fff;
}*/
