/*$greenblue: #204444;
$green-logo: #1b351c;
$green-light-logo: #aea256;
$white-logo: #f5edd1;
$killarney: #2b522b;
$tussock: #c17444;
$spring-wood: #f7edd2;
$flax-smoke: #7c8768;
$axolotl: #536646;
$envy: #92ac8e;
$pewter: #93a89c;
$corduroy: #5a7164;
$glade-green: #5c8559;
$greydark1: #333;
$greydark2: #777;
$greydark3: #999;
*/

:root {
  --color-primary: #204444;
  --grey-dark-1: #333;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  font-family: "Aleo", serif;
  line-height: 1.7;
  background-color: #f8f8f8;
}
